ion-header {
  ion-toolbar {
    --background: rgba(0,0,0,0);
  }

  .titles {
    position: relative;
    padding: 0 1.2rem;
    h4, h6 {
      margin: 0;
      margin-bottom: 4px;
      ion-icon {
        vertical-align: middle;
      }
    }
    h4 {
      font-weight: 900;
      font-size: 26px;
    }
    h6 {
      font-weight: 600;
    }
  }

  img {
    position: absolute;
    top: -110px;
  }

}

ion-tab-bar {
  border-radius: 30px 30px 0 0;
}

ion-content {

  --background: #fafafa;
  
  .container {

    margin-top: 38px;
    
    ion-card {
      width: 260px;
      box-shadow: none;
      border-radius: 18%;

      .cover {
        img {
          border-radius: 25%;
        }
      }

      ion-col {
        color: #1f2120;
        del {
          color: #726c6c;
        }
        ion-card-title, ion-card-subtitle {
          font-weight: bold;
          padding-left: 18px;
        }
        ion-button {
          --box-shadow: none;
          --border-radius: 12px;
        }
      }

    }

  }

  ion-card {
    box-shadow: none;
    border-radius: 40px;

    .cover {
      img {
        border-radius: 25%;
      }
    }

    ion-card-content {
      padding: 0;
    }

    ion-col {
      color: #1f2120;
      del {
        color: #726c6c;
      }
      ion-card-title, ion-card-subtitle {
        font-weight: bold;
        padding-bottom: 6px;
        padding-left: 18px;
      }
      ion-button {
        --box-shadow: none;
        --border-radius: 12px;
      }
    }

  }

  ion-button {
    transform: scale(.8, .8);
  }
  
}