ion-item {
  --background: #316dd0;
  h2 {
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
  }
}

ion-item:last-of-type {
  div {
    padding-bottom: 20px;
  }
  border-radius: 0 0 20% 20%;
}

ion-searchbar {
  --box-shadow: none;
  --border-radius: 10px;
  opacity: .96;
  padding: 0;
  margin: 12px 0;
}

ion-col {
  padding: 0;
}

// ::ng-deep .searchbar-search-icon {
//   color: #316dd0 !important;
// }

ion-content {
  --background: #f6f6f6;
}

ion-card {
  padding: 6px;
  box-shadow: none;
  box-shadow: 0px 3px 45px 0px rgba(0, 0, 0, 0.16);
  border-radius: 30px;

  ion-img {
    width: 200px;
    margin: 0 auto;
  }
}