ion-toolbar {
    --background: #316dd0;
    color: #FFFFFF;
    padding-bottom: 200px;
    border-radius: 0 0 20% 20%;
}

ion-col {
    padding: 0;
}

ion-content {
    --background: #f6f6f6;
}

ion-card {
    margin-top: -180px;
    z-index: 10;
    padding: 6px;
    box-shadow: none;
    box-shadow: 0px 3px 45px 0px rgba(0, 0, 0, 0.16);
    border-radius: 40px;
    overflow: visible;

    ion-img {
        width: 240px;
        margin: -60px auto auto auto;
    }

}

ion-item {
    border-radius: 14px;
    box-shadow: 0px 3px 45px 0px rgba(0, 0, 0, 0.08);

    ion-icon:first-of-type {
        background: #ed576b;
        color: #FFFFFF;
        padding: 4px;
        border-radius: 12px;
    }

    ion-icon:last-of-type {
        background: #316dd0;
        color: #FFFFFF;
        padding: 4px;
        border-radius: 12px;
    }

}